@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Lato';
}

body {
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  overflow-x: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  min-width: 100vw;
}

.header {
  margin: 35px auto 0 auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 620px;
  margin: 0 auto;
}

@media (min-width: 2000px) {
  .header__list {
    max-width: 1000px;
    margin-bottom: -41px;
  }
}

@media (min-width: 2500px) {
  .header__list {
    max-width: 1380px;
    margin-bottom: -85px;
  }
}

@media (min-width: 3000px) {
  .header__list {
    max-width: 1760px;
    margin-bottom: -142px;
  }
}

@media (min-width: 2000px) {
  .header__list img {
    width: 141px;
    height: 128px;
  }
}

@media (min-width: 2500px) {
  .header__list img {
    width: 188px;
    height: 170px;
  }
}

@media (min-width: 3000px) {
  .header__list img {
    width: 250px;
    height: 227px;
  }
}

@media (max-width: 767px) {
  .header__list li {
    display: none;
  }
  .header__list img {
    position: absolute;
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    left: 90%;
    margin-top: 30px;
  }
}

.header__link {
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #4d4959;
  font-weight: 700;
}

@media (min-width: 2000px) {
  .header__link {
    font-size: 19px;
    line-height: none;
    letter-spacing: 0.4em;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .header__link {
    font-size: 25px;
    line-height: none;
    letter-spacing: 0.6em;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .header__link {
    font-size: 31px;
    line-height: none;
    letter-spacing: 0.8em;
    color: none;
    font-weight: none;
  }
}

.header__link a {
  color: #4d4959;
}

.header__link a:first-child {
  padding-left: 15px;
}

.header__link a:last-child {
  padding-right: 15px;
}

.header__link a:hover {
  text-shadow: 0 0 8px #64c29e;
}

.header__background {
  position: relative;
  top: -120px;
  left: 0;
  z-index: -1;
}

.header__background img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .header__background img {
    height: 50vh;
    -o-object-position: bottom;
       object-position: bottom;
    opacity: 0.35;
    min-height: 200px;
  }
}

.header .burger {
  display: none;
  padding-left: 3px;
  padding-top: 3px;
}

@media (max-width: 767px) {
  .header .burger {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30px;
    margin-left: 10px;
    z-index: 150;
  }
}

.header .burger__first-line, .header .burger__second-line, .header .burger__threeth-line {
  width: 40%;
  height: 1px;
  border: 0.5px solid #64c29e;
  background-color: #64c29e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .burger__first-line:not(:last-child), .header .burger__second-line:not(:last-child), .header .burger__threeth-line:not(:last-child) {
  margin-bottom: 7px;
}

.header .burger:hover .burger__first-line {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 8.5px;
  border: 1px solid #848789;
  background-color: #848789;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .burger:hover .burger__second-line {
  visibility: hidden;
  -webkit-transition: 0.1ms;
  transition: 0.1ms;
}

.header .burger:hover .burger__threeth-line {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: -8.5px;
  border: 1px solid #848789;
  background-color: #848789;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .burger:hover .burger__menu {
  visibility: visible;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
  top: 13px;
}

.header .burger__menu {
  visibility: hidden;
  position: relative;
  top: 0px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header .burger__list {
  background-color: #848789;
  border-radius: 15%;
  text-align: center;
}

.header .burger__link {
  font-size: none;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: none;
  font-weight: 700;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
}

.header .burger__link:last-child {
  padding-bottom: 10px;
}

.header .burger__link a {
  color: #353738;
}

.header .burger__link a:hover {
  color: #64c29e;
  text-decoration: underline;
}

.first-frame {
  text-align: center;
}

.first-frame__column img {
  margin-top: 117px;
  margin-bottom: 34px;
}

@media (max-width: 1000px) {
  .first-frame__column img {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .first-frame__column img {
    margin-top: -50px;
  }
}

@media (min-width: 2000px) {
  .first-frame__column img {
    width: 104px;
    height: 86px;
  }
}

@media (min-width: 2500px) {
  .first-frame__column img {
    width: 156px;
    height: 129px;
  }
}

@media (min-width: 3000px) {
  .first-frame__column img {
    width: 208px;
    height: 172px;
  }
}

.first-frame__title {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #353738;
  font-weight: 700;
  margin-bottom: 35px;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .first-frame__title {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: #353738;
    font-weight: 700;
  }
}

.first-frame__subtitle {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: none;
  color: #848789;
  font-weight: none;
  margin: 0 auto;
  max-width: 62%;
  margin-bottom: 147px;
}

@media (max-width: 767px) {
  .first-frame__subtitle {
    font-size: 12px;
    line-height: 28px;
    letter-spacing: none;
    color: #848789;
    font-weight: none;
    max-width: 90%;
    margin-bottom: 50px;
  }
}

@media (min-width: 2000px) {
  .first-frame__subtitle {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .first-frame__subtitle {
    font-size: 30px;
    line-height: 46px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .first-frame__subtitle {
    font-size: 36px;
    line-height: 52px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

.second-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

@media (max-width: 767px) {
  .second-frame__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
  }
}

.second-frame__column:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.667%;
          flex: 1 1 66.667%;
}

.second-frame__column:first-child img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .second-frame__column:first-child img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.second-frame__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding-top: 70px;
}

@media (max-width: 1200px) {
  .second-frame__column:last-child {
    padding-top: 35px;
  }
}

.second-frame__column:last-child img:first-child {
  margin-bottom: 31px;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .second-frame__column:last-child img:first-child {
    margin-bottom: 15px;
  }
}

@media (min-width: 2000px) {
  .second-frame__column:last-child img:first-child {
    width: 82px;
    height: 60px;
  }
}

@media (min-width: 2500px) {
  .second-frame__column:last-child img:first-child {
    width: 123px;
    height: 90px;
  }
}

@media (min-width: 3000px) {
  .second-frame__column:last-child img:first-child {
    width: 164px;
    height: 120px;
  }
}

.second-frame__column:last-child img:last-child {
  width: 100%;
  height: 100%;
}

.second-frame__title {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #353738;
  font-weight: 700;
  margin-bottom: 26px;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .second-frame__title {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: #353738;
    font-weight: 700;
    margin-bottom: 7.8px;
  }
}

.second-frame__subtitle {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: none;
  color: #848789;
  font-weight: none;
  max-width: 430px;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .second-frame__subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: none;
    color: #848789;
    font-weight: none;
    margin-bottom: 20px;
  }
}

@media (min-width: 2000px) {
  .second-frame__subtitle {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: none;
    color: none;
    font-weight: none;
    max-width: 550px;
  }
}

@media (min-width: 2500px) {
  .second-frame__subtitle {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: none;
    color: none;
    font-weight: none;
    max-width: 670px;
  }
}

@media (min-width: 3000px) {
  .second-frame__subtitle {
    font-size: 34px;
    line-height: 48px;
    letter-spacing: none;
    color: none;
    font-weight: none;
    max-width: 790px;
  }
}

.second-frame__line {
  margin-bottom: 54px;
}

@media (max-width: 1200px) {
  .second-frame__line {
    margin-bottom: 27px;
  }
}

.threeth-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

@media (max-width: 767px) {
  .threeth-frame__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
  }
}

.threeth-frame__column:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding-top: 70px;
}

@media (max-width: 1200px) {
  .threeth-frame__column:first-child {
    padding-top: 35px;
  }
}

.threeth-frame__column:first-child img:first-child {
  margin-bottom: 29px;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .threeth-frame__column:first-child img:first-child {
    margin-bottom: 14.5px;
  }
}

@media (min-width: 2000px) {
  .threeth-frame__column:first-child img:first-child {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 2500px) {
  .threeth-frame__column:first-child img:first-child {
    width: 96px;
    height: 96px;
  }
}

@media (min-width: 3000px) {
  .threeth-frame__column:first-child img:first-child {
    width: 128px;
    height: 128px;
  }
}

.threeth-frame__column:first-child img:last-child {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .threeth-frame__column:first-child img:last-child {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.threeth-frame__column:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.667%;
          flex: 1 1 66.667%;
}

.threeth-frame__column:last-child img:first-child {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .threeth-frame__column:last-child img:first-child {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.threeth-frame__title {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #353738;
  font-weight: 700;
  margin-bottom: 26px;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .threeth-frame__title {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: #353738;
    font-weight: 700;
    margin-bottom: 7.8px;
  }
}

.threeth-frame__subtitle {
  font-size: 16px;
  line-height: 29px;
  letter-spacing: none;
  color: #848789;
  font-weight: none;
  max-width: 430px;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .threeth-frame__subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: none;
    color: #848789;
    font-weight: none;
    margin-bottom: 20px;
  }
}

.threeth-frame__line {
  margin-bottom: 63px;
}

@media (max-width: 1200px) {
  .threeth-frame__line {
    margin-bottom: 31.5px;
  }
}

.fourth-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

@media (max-width: 767px) {
  .fourth-frame__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
  }
}

.fourth-frame__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.fourth-frame__column:first-child img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .fourth-frame__column:first-child img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.fourth-frame__column:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourth-frame__column:nth-child(2) img:first-child {
  margin-top: 58px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .fourth-frame__column:nth-child(2) img:first-child {
    margin-top: 29px;
    margin-bottom: 10px;
  }
}

@media (min-width: 2000px) {
  .fourth-frame__column:nth-child(2) img:first-child {
    width: 46px;
    height: 82px;
  }
}

@media (min-width: 2500px) {
  .fourth-frame__column:nth-child(2) img:first-child {
    width: 69px;
    height: 123px;
  }
}

@media (min-width: 3000px) {
  .fourth-frame__column:nth-child(2) img:first-child {
    width: 92px;
    height: 164px;
  }
}

.fourth-frame__column:nth-child(2) img:last-child {
  width: 100%;
  height: 100%;
}

.fourth-frame__column:last-child img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .fourth-frame__column:last-child img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.fourth-frame__title {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #353738;
  font-weight: 700;
  margin-bottom: 26px;
  padding: 0 15px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .fourth-frame__title {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: #353738;
    font-weight: 700;
    margin-bottom: 13px;
  }
}

.fourth-frame__subtitle {
  font-size: 16px;
  line-height: 29px;
  letter-spacing: none;
  color: #848789;
  font-weight: none;
  max-width: 430px;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .fourth-frame__subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: none;
    color: #848789;
    font-weight: none;
    margin-bottom: 20px;
  }
}

.fourth-frame__line {
  margin-bottom: 62px;
}

@media (max-width: 1200px) {
  .fourth-frame__line {
    margin-bottom: 31px;
  }
}

.fiveth-frame__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fiveth-frame__column img {
  margin-top: 124px;
  margin-bottom: 37px;
}

@media (max-width: 1200px) {
  .fiveth-frame__column img {
    margin-top: 62px;
    margin-bottom: 18.5px;
  }
}

@media (min-width: 2000px) {
  .fiveth-frame__column img {
    width: 64px;
    height: 54px;
    margin-bottom: 43px;
  }
}

@media (min-width: 2500px) {
  .fiveth-frame__column img {
    width: 96px;
    height: 81px;
    margin-bottom: 49px;
  }
}

@media (min-width: 3000px) {
  .fiveth-frame__column img {
    width: 128px;
    height: 108px;
    margin-bottom: 55px;
  }
}

.fiveth-frame__title {
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #353738;
  font-weight: 700;
  padding: 0 15px;
}

.fiveth-frame__title span {
  font-size: none;
  line-height: none;
  letter-spacing: none;
  color: #848789;
  font-weight: 300;
}

@media (min-width: 2000px) {
  .fiveth-frame__title {
    margin-bottom: 33px;
  }
}

@media (min-width: 2500px) {
  .fiveth-frame__title {
    margin-bottom: 39px;
  }
}

@media (min-width: 3000px) {
  .fiveth-frame__title {
    margin-bottom: 45px;
  }
}

.fiveth-frame__subtitle {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: none;
  color: #848789;
  font-weight: none;
  font-style: italic;
  margin-bottom: 183px;
  padding: 0 15px;
  text-align: center;
}

@media (max-width: 1200px) {
  .fiveth-frame__subtitle {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: none;
    color: #848789;
    font-weight: none;
    margin-bottom: 91.5px;
  }
}

@media (min-width: 2000px) {
  .fiveth-frame__subtitle {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: none;
    color: #848789;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .fiveth-frame__subtitle {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .fiveth-frame__subtitle {
    font-size: 42px;
    line-height: 52px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

.sixth-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sixth-frame__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.sixth-frame__column:nth-child(2) {
  display: inherit;
}

.sixth-frame__column:nth-child(2) img:first-child {
  width: 50%;
  height: 50%;
}

.sixth-frame__column:nth-child(2) img:last-child {
  width: 50%;
  height: 50%;
}

.sixth-frame__rowtwoitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.sixth-frame__rowtwoitem:first-child img:first-child, .sixth-frame__rowtwoitem:first-child img:last-child, .sixth-frame__rowtwoitem:last-child img:first-child, .sixth-frame__rowtwoitem:last-child img:last-child {
  width: 50%;
  height: 50%;
}

.sixth-frame__rowoneitem img {
  width: 100%;
  height: 100%;
}

.sixth-frame__rowoneitem:first-child {
  opacity: 0.5;
}

.sixth-frame__rowoneitem:first-child:hover {
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.seventh-frame {
  background-color: #282f35;
  font-size: none;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: #fff;
  font-weight: 700;
}

@media (min-width: 2000px) {
  .seventh-frame {
    font-size: 20px;
    line-height: none;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .seventh-frame {
    font-size: 26px;
    line-height: none;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .seventh-frame {
    font-size: 32px;
    line-height: none;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

.seventh-frame__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seventh-frame__link a {
  margin-top: 75px;
  margin-bottom: 75px;
  padding: 21px 57px;
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
}

@media (max-width: 767px) {
  .seventh-frame__link a {
    padding: 15px 29px;
  }
}

.seventh-frame__link a:hover {
  -webkit-box-shadow: -10px 5px 10px #fff;
          box-shadow: -10px 5px 10px #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.seventh-frame__link a:active {
  position: relative;
  top: 5px;
  left: -10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.eighth-frame__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eighth-frame__column img {
  margin-top: 109px;
  margin-bottom: 39px;
}

@media (max-width: 767px) {
  .eighth-frame__column img {
    margin-top: 60px;
  }
}

@media (min-width: 2000px) {
  .eighth-frame__column img {
    width: 141px;
    height: 128px;
  }
}

@media (min-width: 2500px) {
  .eighth-frame__column img {
    width: 188px;
    height: 170px;
  }
}

@media (min-width: 3000px) {
  .eighth-frame__column img {
    width: 250px;
    height: 227px;
  }
}

.eighth-frame__title {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: none;
  color: #848789;
  font-weight: none;
  font-style: italic;
  margin-bottom: 35px;
}

@media (min-width: 2000px) {
  .eighth-frame__title {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .eighth-frame__title {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .eighth-frame__title {
    font-size: 42px;
    line-height: 52px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

.eighth-frame form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 111px;
  width: 33.375%;
}

@media (max-width: 767px) {
  .eighth-frame form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}

.eighth-frame form input {
  font-size: 16px;
  line-height: none;
  letter-spacing: 2px;
  color: none;
  font-weight: 700;
  min-width: 400px;
  border: 1px solid #d3d7d9;
  padding: 28px 28px 24px 28px;
}

@media (max-width: 767px) {
  .eighth-frame form input {
    font-size: 14px;
    line-height: none;
    letter-spacing: 2px;
    color: none;
    font-weight: 400;
    width: 40%;
    min-width: 300px;
    padding: 15px;
    margin-bottom: 20px;
  }
}

@media (min-width: 2000px) {
  .eighth-frame form input {
    font-size: 22px;
    line-height: none;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .eighth-frame form input {
    font-size: 28px;
    line-height: none;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .eighth-frame form input {
    font-size: 34px;
    line-height: none;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

.eighth-frame form button {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: none;
  color: #fff;
  font-weight: 300;
  background-color: #64c29e;
  padding: 26px 45px;
  margin-left: 8px;
}

@media (min-width: 2000px) {
  .eighth-frame form button {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .eighth-frame form button {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .eighth-frame form button {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (max-width: 767px) {
  .eighth-frame form button {
    margin-left: 0;
    padding: 15px 30px;
  }
}

.eighth-frame form button:hover {
  color: #64c29e;
  background-color: #282f35;
  font-size: none;
  line-height: none;
  letter-spacing: none;
  color: none;
  font-weight: 700;
}

.line {
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
}

@media (min-width: 2000px) {
  .line {
    width: 100px;
    height: 2px;
  }
}

@media (min-width: 2500px) {
  .line {
    width: 150px;
    height: 3px;
  }
}

@media (min-width: 3000px) {
  .line {
    width: 200px;
    height: 4px;
  }
}

@media (min-width: 2000px) {
  .title {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.4em;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .title {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.6em;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .title {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.8em;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2000px) {
  .subtitle {
    font-size: 22px;
    line-height: 35px;
    letter-spacing: none;
    color: none;
    font-weight: none;
    max-width: 550px;
  }
}

@media (min-width: 2500px) {
  .subtitle {
    font-size: 28px;
    line-height: 41px;
    letter-spacing: none;
    color: none;
    font-weight: none;
    max-width: 670px;
  }
}

@media (min-width: 3000px) {
  .subtitle {
    font-size: 34px;
    line-height: 47px;
    letter-spacing: none;
    color: none;
    font-weight: none;
    max-width: 790px;
  }
}

.footer {
  background-color: #f7f7f7;
}

.footer__row {
  padding-top: 99px;
  padding-bottom: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 869px) {
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
  }
}

@media (max-width: 869px) {
  .footer__column:nth-child(2) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.footer__column:nth-child(2) a:not(:last-child) {
  margin-right: 15px;
}

.footer__column:nth-child(2) a:last-child {
  margin-right: 90px;
}

@media (max-width: 869px) {
  .footer__column:nth-child(2) a:last-child {
    margin-right: 0;
  }
}

@media (min-width: 2000px) {
  .footer__column:nth-child(2) a img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 2500px) {
  .footer__column:nth-child(2) a img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 3000px) {
  .footer__column:nth-child(2) a img {
    width: 110px;
    height: 110px;
  }
}

.footer__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column:last-child img {
  margin-left: 9px;
}

@media (min-width: 2000px) {
  .footer__column:last-child img {
    width: 110px;
    height: 72px;
    margin-left: 15px;
  }
}

@media (min-width: 2500px) {
  .footer__column:last-child img {
    width: 165px;
    height: 108px;
    margin-left: 21px;
  }
}

@media (min-width: 3000px) {
  .footer__column:last-child img {
    width: 220px;
    height: 144px;
    margin-left: 27px;
  }
}

@media (max-width: 869px) {
  .footer__column:last-child img {
    margin-right: 15px;
  }
}

.footer__name {
  font-size: 16px;
  line-height: 17px;
  letter-spacing: none;
  color: #848789;
  font-weight: 700;
  padding: 0 15px;
}

@media (max-width: 869px) {
  .footer__name {
    text-align: center;
  }
}

@media (min-width: 2000px) {
  .footer__name {
    font-size: 22px;
    line-height: 23px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .footer__name {
    font-size: 28px;
    line-height: 29px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .footer__name {
    font-size: 34px;
    line-height: 35px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

.footer__adress, .footer__county, .footer__craft {
  font-size: 13.9px;
  line-height: 17px;
  letter-spacing: none;
  color: #848789;
  font-weight: none;
  font-style: italic;
  padding: 0 15px;
}

@media (max-width: 869px) {
  .footer__adress, .footer__county, .footer__craft {
    text-align: center;
  }
}

@media (min-width: 2000px) {
  .footer__adress, .footer__county, .footer__craft {
    font-size: 19.9px;
    line-height: 23px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .footer__adress, .footer__county, .footer__craft {
    font-size: 25.9px;
    line-height: 29px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .footer__adress, .footer__county, .footer__craft {
    font-size: 31.9px;
    line-height: 35px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}
