//подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
//нулевой стиль
@import 'nulestyle.scss';
//файл с миксинами
@import 'mixin.scss';

.wrapper {
  overflow-x: hidden;
  min-height: 100%;
  @include flex(flex, column, center, none);
}
.content {
  flex: 1 1 auto;
}

.container {
  min-width: 100vw;
}

// HEADER
.header {
  margin: 35px auto 0 auto;
  min-height: 100vh;
  &__list {
    @include flex(flex, none, space-between, center);
    max-width: 620px;
    margin: 0 auto;
    @media (min-width: 2000px) {
      max-width: 1000px;
    }
    @media (min-width: 2500px) {
      max-width: 1380px;
    }
    @media (min-width: 3000px) {
      max-width: 1760px;
    }
    img {
      @media (min-width: 2000px) {
        width: 141px;
        height: 128px;
      }
      @media (min-width: 2500px) {
        width: 188px;
        height: 170px;
      }
      @media (min-width: 3000px) {
        width: 250px;
        height: 227px;
      }
    }
  }

  &__link {
    @include font(13px, 1.2, 0.2em, #4d4959, 700);

    @media (min-width: 2000px) {
      @include font(19px, none, 0.4em, none, none);
    }
    @media (min-width: 2500px) {
      @include font(25px, none, 0.6em, none, none);
    }
    @media (min-width: 3000px) {
      @include font(31px, none, 0.8em, none, none);
    }
    a {
      &:first-child {
        padding-left: 15px;
      }
      &:last-child {
        padding-right: 15px;
      }
      color: #4d4959;
      &:hover {
        text-shadow: 0 0 20px #64c29e;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    img {
      width: 100vw;
      height: 100vh;
    }
  }
}
// FIRST FRAME
.first-frame {
  text-align: center;
  &__column {
    img {
      margin-top: 117px;
      margin-bottom: 34px;
      @media (min-width: 2000px) {
        width: 104px;
        height: 86px;
      }
      @media (min-width: 2500px) {
        width: 156px;
        height: 129px;
      }
      @media (min-width: 3000px) {
        width: 208px;
        height: 172px;
      }
    }
  }

  &__title {
    @include font(18px, 1.2, 0.2em, #353738, 700);
    margin-bottom: 35px;
  }

  &__subtitle {
    @include font(18px, 34px, none, #848789, none);
    margin: 0 auto;
    max-width: 62%;
    margin-bottom: 142px;
    @media (min-width: 2000px) {
      @include font(24px, 40px, none, none, none);
    }
    @media (min-width: 2500px) {
      @include font(30px, 46px, none, none, none);
    }
    @media (min-width: 3000px) {
      @include font(36px, 52px, none, none, none);
    }
  }
}
// SECOND FRAME
.second-frame {
  &__row {
    @include flex(flex, none, none, none);
  }

  &__column {
    &:first-child {
      min-width: 70%;
      img {
        &:first-child {
          width: 100%;
          height: 100%;
        }
      }
    }
    &:last-child {
      @include flex(flex, column, none, center);
      min-width: 30%;
      padding-top: 70px;
      img {
        &:first-child {
          margin-bottom: 31px;
          padding: 0 15px;
          @media (min-width: 2000px) {
            width: 82px;
            height: 60px;
          }
          @media (min-width: 2500px) {
            width: 123px;
            height: 90px;
          }
          @media (min-width: 3000px) {
            width: 164px;
            height: 120px;
          }
        }
        &:last-child {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__title {
    @include font(18px, 1.2, 0.2em, #353738, 700);
    margin-bottom: 26px;
    padding: 0 15px;
  }

  &__subtitle {
    @include font(16px, 30px, none, #848789, none);
    max-width: 430px;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 15px;
    @media (min-width: 2000px) {
      @include font(22px, 36px, none, none, none);
      max-width: 550px;
    }
    @media (min-width: 2500px) {
      @include font(28px, 42px, none, none, none);
      max-width: 670px;
    }
    @media (min-width: 3000px) {
      @include font(34px, 48px, none, none, none);
      max-width: 790px;
    }
  }
  &__line {
    margin-bottom: 54px;
  }
}
// THREETH FRAME
.threeth-frame {
  &__row {
    @include flex(flex, none, none, none);
  }

  &__column {
    &:first-child {
      @include flex(flex, column, none, center);
      min-width: 30%;
      padding-top: 70px;
      img {
        &:first-child {
          margin-bottom: 29px;
          padding: 0 15px;
          @media (min-width: 2000px) {
            width: 64px;
            height: 64px;
          }
          @media (min-width: 2500px) {
            width: 96px;
            height: 96px;
          }
          @media (min-width: 3000px) {
            width: 128px;
            height: 128px;
          }
        }
        &:last-child {
          width: 100%;
          height: 100%;
        }
      }
    }
    &:last-child {
      min-width: 70%;
      img {
        &:first-child {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__title {
    @include font(18px, 1.2, 0.2em, #353738, 700);
    margin-bottom: 26px;
    padding: 0 15px;
  }

  &__subtitle {
    @include font(16px, 29px, none, #848789, none);
    max-width: 430px;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 15px;
  }
  &__line {
    margin-bottom: 63px;
  }
}
// FOURTH FRAME
.fourth-frame {
  &__row {
    @include flex(flex, none, none, none);
  }

  &__column {
    &:first-child {
      min-width: 30%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &:nth-child(2) {
      @include flex(flex, column, none, center);
      min-width: 35%;
      img {
        &:first-child {
          margin-top: 58px;
          margin-bottom: 20px;
          @media (min-width: 2000px) {
            width: 46px;
            height: 82px;
          }
          @media (min-width: 2500px) {
            width: 69px;
            height: 123px;
          }
          @media (min-width: 3000px) {
            width: 92px;
            height: 164px;
          }
        }
        &:last-child {
          width: 100%;
          height: 100%;
        }
      }
    }
    &:last-child {
      min-width: 35%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__title {
    @include font(18px, 1.2, 0.2em, #353738, 700);
    margin-bottom: 26px;
    padding: 0 15px;
    text-transform: uppercase;
  }
  &__subtitle {
    @include font(16px, 29px, none, #848789, none);
    max-width: 430px;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 15px;
  }

  &__line {
    margin-bottom: 62px;
  }
}
// FIVETH FRAME
.fiveth-frame {
  &__column {
    @include flex(flex, column, center, center);
    img {
      margin-top: 124px;
      margin-bottom: 37px;
      @media (min-width: 2000px) {
        width: 64px;
        height: 54px;
        margin-bottom: 43px;
      }
      @media (min-width: 2500px) {
        width: 96px;
        height: 81px;
        margin-bottom: 49px;
      }
      @media (min-width: 3000px) {
        width: 128px;
        height: 108px;
        margin-bottom: 55px;
      }
    }
  }

  &__title {
    margin-bottom: 27px;
    @include font(18px, 1.2, 0.1em, #353738, 700);
    span {
      @include font(none, none, none, #848789, 300);
    }
    padding: 0 15px;
    @media (min-width: 2000px) {
      margin-bottom: 33px;
    }
    @media (min-width: 2500px) {
      margin-bottom: 39px;
    }
    @media (min-width: 3000px) {
      margin-bottom: 45px;
    }
  }

  &__subtitle {
    @include font(24px, 34px, none, #848789, none);
    font-style: italic;
    margin-bottom: 183px;
    padding: 0 15px;
    text-align: center;
    @media (min-width: 2000px) {
      @include font(30px, 40px, none, #848789, none);
    }
    @media (min-width: 2500px) {
      @include font(36px, 46px, none, none, none);
    }
    @media (min-width: 3000px) {
      @include font(42px, 52px, none, none, none);
    }
  }
}
// SIXTH FRAME
.sixth-frame {
  &__row {
    @include flex(flex, row, none, flex-start);
    flex: 1 1 100%;
  }

  &__column {
    flex: 1 1 33.333%;
    &:first-child {
      flex-direction: column;
    }
    &:nth-child(2) {
      display: flex;
      img {
        &:first-child {
          width: 50%;
          height: 50%;
        }
        &:last-child {
          width: 50%;
          height: 50%;
        }
      }
    }
    &:last-child {
      flex-direction: column;
    }
  }

  &__rowtwoitem {
    @include flex(flex, row, none, none);
    &:first-child,
    &:last-child {
      img {
        &:first-child {
          width: 50%;
          height: 50%;
        }
        &:last-child {
          width: 50%;
          height: 50%;
        }
      }
    }
  }
  &__rowoneitem {
    img {
      width: 100%;
      height: 100%;
    }
    &:first-child {
      opacity: 0.5;
      &:hover {
        opacity: 1;
        transition: all 1s ease;
      }
    }
  }
}
// SEVENTH FRAME
.seventh-frame {
  background-color: #282f35;
  @include font(none, 1.2, 0.2em, #fff, 700);

  &__link {
    @include flex(flex, column, center, center);
    a {
      margin-top: 75px;
      margin-bottom: 75px;
      padding: 21px 57px;
      display: inline-block;
      border: 1px solid #fff;

      color: #fff;
      &:hover {
        box-shadow: -10px 5px 10px #fff;
        transition: all 0.2s ease;
      }
      &:active {
        position: relative;
        top: 5px;
        left: -10px;
        box-shadow: none;
        transition: none;
      }
    }
  }
}
// EIGHT FRAME
.eighth-frame {
  &__column {
    @include flex(flex, column, center, center);
    img {
      margin-top: 109px;
      margin-bottom: 39px;
      @media (min-width: 2000px) {
        width: 141px;
        height: 128px;
      }
      @media (min-width: 2500px) {
        width: 188px;
        height: 170px;
      }
      @media (min-width: 3000px) {
        width: 250px;
        height: 227px;
      }
    }
  }

  &__title {
    @include font(24px, 34px, none, #848789, none);
    @media (min-width: 2000px) {
      @include font(30px, 40px, none, none, none);
    }
    @media (min-width: 2500px) {
      @include font(36px, 46px, none, none, none);
    }
    @media (min-width: 3000px) {
      @include font(42px, 52px, none, none, none);
    }
    font-style: italic;
    margin-bottom: 35px;
  }
  form {
    margin-bottom: 111px;
    input {
      @include font(16px, none, 2px, none, 700);
      width: 400px;
      border: 1px solid #d3d7d9;
      padding: 28px 28px 24px 28px;
    }
    button {
      @include font(24px, 24px, none, #fff, 300);
      background-color: #64c29e;
      padding: 26px 45px;
      margin-left: 8px;
      &:hover {
        color: #64c29e;
        background-color: #282f35;
        @include font(none, none, none, none, 700);
      }
    }
  }
}
.line {
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
  @media (min-width: 2000px) {
    width: 100px;
    height: 2px;
  }
  @media (min-width: 2500px) {
    width: 150px;
    height: 3px;
  }
  @media (min-width: 3000px) {
    width: 200px;
    height: 4px;
  }
}
.title {
  @media (min-width: 2000px) {
    @include font(24px, 1.2, 0.4em, none, none);
  }
  @media (min-width: 2500px) {
    @include font(30px, 1.2, 0.6em, none, none);
  }
  @media (min-width: 3000px) {
    @include font(36px, 1.2, 0.8em, none, none);
  }
}
.subtitle {
  @media (min-width: 2000px) {
    @include font(22px, 35px, none, none, none);
    max-width: 550px;
  }
  @media (min-width: 2500px) {
    @include font(28px, 41px, none, none, none);
    max-width: 670px;
  }
  @media (min-width: 3000px) {
    @include font(34px, 47px, none, none, none);
    max-width: 790px;
  }
}
// FOOTER
.footer {
  background-color: #f7f7f7;
  &__row {
    padding-top: 99px;
    padding-bottom: 103px;
    @include flex(flex, none, space-between, center);
    width: 80%;
    margin: 0 auto;
  }

  &__column {
    &:nth-child(2) {
      a {
        &:not(:last-child) {
          margin-right: 15px;
        }
        &:last-child {
          margin-right: 90px;
        }
      }
    }
    &:last-child {
      @include flex(flex, none, none, center);
      img {
        margin-left: 9px;
      }
    }
  }

  &__name {
    @include font(16px, 17px, none, #848789, 700);
  }

  &__adress,
  &__county,
  &__craft {
    @include font(13.9px, 17px, none, #848789, none);
    font-style: italic;
  }
}
