//подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
//нулевой стиль
@import 'nulestyle.scss';
//файл с миксинами
@import 'mixin.scss';

.wrapper {
  overflow-x: hidden;
  min-height: 100%;
  @include flex(flex, column, center, none);
}
.content {
  flex: 1 1 auto;
}

.container {
  min-width: 100vw;
}

// HEADER
.header {
  margin: 35px auto 0 auto;
  &__list {
    @include flex(flex, none, space-between, center);
    max-width: 620px;
    margin: 0 auto;
    @media (min-width: 2000px) {
      max-width: 1000px;
      margin-bottom: -41px;
    }
    @media (min-width: 2500px) {
      max-width: 1380px;
      margin-bottom: -85px;
    }
    @media (min-width: 3000px) {
      max-width: 1760px;
      margin-bottom: -142px;
    }
    img {
      @media (min-width: 2000px) {
        width: 141px;
        height: 128px;
      }
      @media (min-width: 2500px) {
        width: 188px;
        height: 170px;
      }
      @media (min-width: 3000px) {
        width: 250px;
        height: 227px;
      }
    }
    @media (max-width: 767px) {
      li {
        display: none;
      }
      img {
        position: absolute;
        transform: translateX(-90%);
        left: 90%;
        margin-top: 30px;
      }
    }
  }

  &__link {
    @include font(13px, 1.2, 0.2em, #4d4959, 700);

    @media (min-width: 2000px) {
      @include font(19px, none, 0.4em, none, none);
    }
    @media (min-width: 2500px) {
      @include font(25px, none, 0.6em, none, none);
    }
    @media (min-width: 3000px) {
      @include font(31px, none, 0.8em, none, none);
    }
    a {
      &:first-child {
        padding-left: 15px;
      }
      &:last-child {
        padding-right: 15px;
      }
      color: #4d4959;
      &:hover {
        text-shadow: 0 0 8px #64c29e;
      }
    }
  }

  &__background {
    position: relative;
    top: -120px;
    left: 0;
    z-index: -1;
    @media (min-width: 2000px) {
    }
    @media (min-width: 2500px) {
    }
    @media (min-width: 3000px) {
    }

    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      @media (max-width: 767px) {
        height: 50vh;
        object-position: bottom;
        opacity: 0.35;
        min-height: 200px;
      }
    }
  }
  .burger {
    display: none;
    padding-left: 3px;
    padding-top: 3px;
    @media (max-width: 767px) {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 30px;
      margin-left: 10px;
      z-index: 150;
    }

    // стили для линий
    &__first-line,
    &__second-line,
    &__threeth-line {
      width: 40%;
      height: 1px;
      border: 0.5px solid #64c29e;
      background-color: #64c29e;
      transition: 0.5s;
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }

    &:hover {
      // стили первой линии при наведении
      .burger__first-line {
        transform: rotate(45deg);
        position: relative;
        top: 8.5px;
        border: 1px solid #848789;
        transition: 0.5s;
      }

      // стили третьей линии при наведении
      .burger__second-line {
        visibility: hidden;
        transition: 0.1ms;
      }

      // стили третьей линии при наведении
      .burger__threeth-line {
        transform: rotate(-45deg);
        position: relative;
        top: -8.5px;
        border: 1px solid #848789;
        transition: 0.5s;
      }
      // событие которе показывает меню при наведении/нажатии на бургер меню
      .burger__menu {
        visibility: visible;
        transition: 0.5s ease-in-out;
        position: relative;
        top: 13px;
      }
    }

    &__menu {
      visibility: hidden;
      position: relative;
      top: 0px;
      transition: 0.5s ease-in-out;
    }

    &__list {
      background-color: #848789;
      border-radius: 15%;
      text-align: center;
    }

    &__link {
      @include font(none, 14px, 0.1em, none, 700);
      padding-left: 15px;
      padding-top: 10px;
      padding-right: 15px;
      &:last-child {
        padding-bottom: 10px;
      }
      a {
        color: #353738;
        &:hover {
          color: #64c29e;
          text-decoration: underline;
        }
      }
    }
  }
}
// FIRST FRAME
.first-frame {
  text-align: center;
  &__column {
    img {
      margin-top: 117px;
      margin-bottom: 34px;
      @media (max-width: 1000px) {
        margin-top: 0px;
      }
      @media (max-width: 767px) {
        margin-top: -50px;
      }
      @media (min-width: 2000px) {
        width: 104px;
        height: 86px;
      }
      @media (min-width: 2500px) {
        width: 156px;
        height: 129px;
      }
      @media (min-width: 3000px) {
        width: 208px;
        height: 172px;
      }
    }
  }

  &__title {
    @include font(18px, 1.2, 0.2em, #353738, 700);
    margin-bottom: 35px;
    padding: 0 15px;
    @media (max-width: 767px) {
      @include font(14px, 1.2, 0.2em, #353738, 700);
    }
  }

  &__subtitle {
    @include font(18px, 34px, none, #848789, none);
    margin: 0 auto;
    max-width: 62%;
    margin-bottom: 147px;
    @media (max-width: 767px) {
      @include font(12px, 28px, none, #848789, none);
      max-width: 90%;
      margin-bottom: 50px;
    }
    @media (min-width: 2000px) {
      @include font(24px, 40px, none, none, none);
    }
    @media (min-width: 2500px) {
      @include font(30px, 46px, none, none, none);
    }
    @media (min-width: 3000px) {
      @include font(36px, 52px, none, none, none);
    }
  }
}
// SECOND FRAME
.second-frame {
  &__row {
    @include flex(flex, none, none, none);
    @media (max-width: 767px) {
      @include flex(flex, column, none, none);
    }
  }

  &__column {
    &:first-child {
      flex: 1 1 66.667%;
      img {
        width: 100%;
        height: 100%;
        @media (max-width: 1200px) {
          object-fit: cover;
        }
      }
    }
    &:last-child {
      @include flex(flex, column, none, center);
      flex: 1 1 33.333%;
      padding-top: 70px;
      @media (max-width: 1200px) {
        padding-top: 35px;
      }
      img {
        &:first-child {
          margin-bottom: 31px;
          @media (max-width: 1200px) {
            margin-bottom: 15px;
          }
          padding: 0 15px;
          @media (min-width: 2000px) {
            width: 82px;
            height: 60px;
          }
          @media (min-width: 2500px) {
            width: 123px;
            height: 90px;
          }
          @media (min-width: 3000px) {
            width: 164px;
            height: 120px;
          }
        }
        &:last-child {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__title {
    @include font(18px, 1.2, 0.2em, #353738, 700);
    margin-bottom: 26px;
    padding: 0 15px;
    @media (max-width: 1200px) {
      @include font(14px, 1.2, 0.2em, #353738, 700);
      margin-bottom: 7.8px;
    }
  }

  &__subtitle {
    @include font(16px, 30px, none, #848789, none);
    max-width: 430px;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 15px;
    @media (max-width: 1200px) {
      @include font(14px, 20px, none, #848789, none);
      margin-bottom: 20px;
    }
    @media (min-width: 2000px) {
      @include font(22px, 36px, none, none, none);
      max-width: 550px;
    }
    @media (min-width: 2500px) {
      @include font(28px, 42px, none, none, none);
      max-width: 670px;
    }
    @media (min-width: 3000px) {
      @include font(34px, 48px, none, none, none);
      max-width: 790px;
    }
  }
  &__line {
    margin-bottom: 54px;
    @media (max-width: 1200px) {
      margin-bottom: 27px;
    }
  }
}
// THREETH FRAME
.threeth-frame {
  &__row {
    @include flex(flex, none, none, none);
    @media (max-width: 767px) {
      @include flex(flex, column-reverse, none, none);
    }
  }

  &__column {
    &:first-child {
      @include flex(flex, column, none, center);
      flex: 1 1 33.333%;
      padding-top: 70px;
      @media (max-width: 1200px) {
        padding-top: 35px;
      }
      img {
        &:first-child {
          margin-bottom: 29px;
          @media (max-width: 1200px) {
            margin-bottom: 14.5px;
          }
          padding: 0 15px;
          @media (min-width: 2000px) {
            width: 64px;
            height: 64px;
          }
          @media (min-width: 2500px) {
            width: 96px;
            height: 96px;
          }
          @media (min-width: 3000px) {
            width: 128px;
            height: 128px;
          }
        }
        &:last-child {
          width: 100%;
          height: 100%;
          @media (max-width: 1200px) {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    &:last-child {
      flex: 1 1 66.667%;
      img {
        &:first-child {
          width: 100%;
          height: 100%;
          @media (max-width: 1200px) {
            object-fit: cover;
          }
        }
      }
    }
  }

  &__title {
    @include font(18px, 1.2, 0.2em, #353738, 700);
    margin-bottom: 26px;
    padding: 0 15px;
    @media (max-width: 1200px) {
      @include font(14px, 1.2, 0.2em, #353738, 700);
      margin-bottom: 7.8px;
    }
  }

  &__subtitle {
    @include font(16px, 29px, none, #848789, none);
    max-width: 430px;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 15px;
    @media (max-width: 1200px) {
      @include font(14px, 20px, none, #848789, none);
      margin-bottom: 20px;
    }
  }
  &__line {
    margin-bottom: 63px;
    @media (max-width: 1200px) {
      margin-bottom: 31.5px;
    }
  }
}
// FOURTH FRAME
.fourth-frame {
  &__row {
    @include flex(flex, none, none, none);
    @media (max-width: 767px) {
      @include flex(flex, column, none, none);
    }
  }

  &__column {
    flex: 1 1 33.333%;
    &:first-child {
      img {
        width: 100%;
        height: 100%;
        @media (max-width: 1200px) {
          object-fit: cover;
        }
      }
    }
    &:nth-child(2) {
      @include flex(flex, column, none, center);
      img {
        &:first-child {
          margin-top: 58px;
          margin-bottom: 20px;
          @media (max-width: 1200px) {
            margin-top: 29px;
            margin-bottom: 10px;
          }
          @media (min-width: 2000px) {
            width: 46px;
            height: 82px;
          }
          @media (min-width: 2500px) {
            width: 69px;
            height: 123px;
          }
          @media (min-width: 3000px) {
            width: 92px;
            height: 164px;
          }
        }
        &:last-child {
          width: 100%;
          height: 100%;
        }
      }
    }
    &:last-child {
      img {
        width: 100%;
        height: 100%;
        @media (max-width: 1200px) {
          object-fit: cover;
        }
      }
    }
  }

  &__title {
    @include font(18px, 1.2, 0.2em, #353738, 700);
    margin-bottom: 26px;
    padding: 0 15px;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      @include font(14px, 1.2, 0.2em, #353738, 700);
      margin-bottom: 13px;
    }
  }
  &__subtitle {
    @include font(16px, 29px, none, #848789, none);
    max-width: 430px;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 15px;
    @media (max-width: 1200px) {
      @include font(14px, 20px, none, #848789, none);
      margin-bottom: 20px;
    }
  }

  &__line {
    margin-bottom: 62px;
    @media (max-width: 1200px) {
      margin-bottom: 31px;
    }
  }
}
// FIVETH FRAME
.fiveth-frame {
  &__column {
    @include flex(flex, column, center, center);
    img {
      margin-top: 124px;
      margin-bottom: 37px;
      @media (max-width: 1200px) {
        margin-top: 62px;
        margin-bottom: 18.5px;
      }
      @media (min-width: 2000px) {
        width: 64px;
        height: 54px;
        margin-bottom: 43px;
      }
      @media (min-width: 2500px) {
        width: 96px;
        height: 81px;
        margin-bottom: 49px;
      }
      @media (min-width: 3000px) {
        width: 128px;
        height: 108px;
        margin-bottom: 55px;
      }
    }
  }

  &__title {
    margin-bottom: 27px;
    @include font(18px, 1.2, 0.1em, #353738, 700);
    span {
      @include font(none, none, none, #848789, 300);
    }
    padding: 0 15px;
    @media (min-width: 2000px) {
      margin-bottom: 33px;
    }
    @media (min-width: 2500px) {
      margin-bottom: 39px;
    }
    @media (min-width: 3000px) {
      margin-bottom: 45px;
    }
  }

  &__subtitle {
    @include font(24px, 34px, none, #848789, none);
    font-style: italic;
    margin-bottom: 183px;
    padding: 0 15px;
    text-align: center;
    @media (max-width: 1200px) {
      @include font(18px, 28px, none, #848789, none);
      margin-bottom: 91.5px;
    }
    @media (min-width: 2000px) {
      @include font(30px, 40px, none, #848789, none);
    }
    @media (min-width: 2500px) {
      @include font(36px, 46px, none, none, none);
    }
    @media (min-width: 3000px) {
      @include font(42px, 52px, none, none, none);
    }
  }
}
// SIXTH FRAME
.sixth-frame {
  &__row {
    @include flex(flex, row, none, flex-start);
  }

  &__column {
    flex: 1 1 33.333%;
    &:nth-child(2) {
      display: inherit;
      img {
        &:first-child {
          width: 50%;
          height: 50%;
        }
        &:last-child {
          width: 50%;
          height: 50%;
        }
      }
    }
  }

  &__rowtwoitem {
    @include flex(flex, row, none, none);
    &:first-child,
    &:last-child {
      img {
        &:first-child,
        &:last-child {
          width: 50%;
          height: 50%;
        }
      }
    }
  }
  &__rowoneitem {
    img {
      width: 100%;
      height: 100%;
    }
    &:first-child {
      opacity: 0.5;
      &:hover {
        opacity: 1;
        transition: all 1s ease;
      }
    }
  }
}
// SEVENTH FRAME
.seventh-frame {
  background-color: #282f35;
  @include font(none, 1.2, 0.2em, #fff, 700);
  @media (min-width: 2000px) {
    @include font(20px, none, none, none, none);
  }
  @media (min-width: 2500px) {
    @include font(26px, none, none, none, none);
  }
  @media (min-width: 3000px) {
    @include font(32px, none, none, none, none);
  }

  &__link {
    @include flex(flex, column, center, center);
    a {
      margin-top: 75px;
      margin-bottom: 75px;
      padding: 21px 57px;
      display: inline-block;
      border: 1px solid #fff;
      @media (max-width: 767px) {
        padding: 15px 29px;
      }

      color: #fff;
      &:hover {
        box-shadow: -10px 5px 10px #fff;
        transition: all 0.2s ease;
      }
      &:active {
        position: relative;
        top: 5px;
        left: -10px;
        box-shadow: none;
        transition: none;
      }
    }
  }
}
// EIGHT FRAME
.eighth-frame {
  &__column {
    @include flex(flex, column, center, center);
    img {
      margin-top: 109px;
      @media (max-width: 767px) {
        margin-top: 60px;
      }
      margin-bottom: 39px;
      @media (min-width: 2000px) {
        width: 141px;
        height: 128px;
      }
      @media (min-width: 2500px) {
        width: 188px;
        height: 170px;
      }
      @media (min-width: 3000px) {
        width: 250px;
        height: 227px;
      }
    }
  }

  &__title {
    @include font(24px, 34px, none, #848789, none);
    @media (min-width: 2000px) {
      @include font(30px, 40px, none, none, none);
    }
    @media (min-width: 2500px) {
      @include font(36px, 46px, none, none, none);
    }
    @media (min-width: 3000px) {
      @include font(42px, 52px, none, none, none);
    }
    font-style: italic;
    margin-bottom: 35px;
  }
  form {
    @include flex(flex, row, center, center);
    margin-bottom: 111px;
    width: 33.375%;
    @media (max-width: 767px) {
      @include flex(flex, column, center, center);
      margin-bottom: 60px;
    }
    input {
      @include font(16px, none, 2px, none, 700);
      min-width: 400px;
      border: 1px solid #d3d7d9;
      padding: 28px 28px 24px 28px;
      @media (max-width: 767px) {
        @include font(14px, none, 2px, none, 400);
        width: 40%;
        min-width: 300px;
        padding: 15px;
        margin-bottom: 20px;
      }
      @media (min-width: 2000px) {
        @include font(22px, none, none, none, none);
      }
      @media (min-width: 2500px) {
        @include font(28px, none, none, none, none);
      }
      @media (min-width: 3000px) {
        @include font(34px, none, none, none, none);
      }
    }
    button {
      @include font(24px, 24px, none, #fff, 300);
      @media (min-width: 2000px) {
        @include font(30px, 30px, none, none, none);
      }
      @media (min-width: 2500px) {
        @include font(30px, 30px, none, none, none);
      }
      @media (min-width: 3000px) {
        @include font(30px, 30px, none, none, none);
      }
      background-color: #64c29e;
      padding: 26px 45px;
      margin-left: 8px;
      @media (max-width: 767px) {
        margin-left: 0;
        padding: 15px 30px;
      }
      &:hover {
        color: #64c29e;
        background-color: #282f35;
        @include font(none, none, none, none, 700);
      }
    }
  }
}
.line {
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
  @media (min-width: 2000px) {
    width: 100px;
    height: 2px;
  }
  @media (min-width: 2500px) {
    width: 150px;
    height: 3px;
  }
  @media (min-width: 3000px) {
    width: 200px;
    height: 4px;
  }
}
.title {
  @media (min-width: 2000px) {
    @include font(24px, 1.2, 0.4em, none, none);
  }
  @media (min-width: 2500px) {
    @include font(30px, 1.2, 0.6em, none, none);
  }
  @media (min-width: 3000px) {
    @include font(36px, 1.2, 0.8em, none, none);
  }
}
.subtitle {
  @media (min-width: 2000px) {
    @include font(22px, 35px, none, none, none);
    max-width: 550px;
  }
  @media (min-width: 2500px) {
    @include font(28px, 41px, none, none, none);
    max-width: 670px;
  }
  @media (min-width: 3000px) {
    @include font(34px, 47px, none, none, none);
    max-width: 790px;
  }
}
// FOOTER
.footer {
  background-color: #f7f7f7;
  &__row {
    padding-top: 99px;
    padding-bottom: 103px;
    @include flex(flex, none, space-between, center);
    width: 80%;
    margin: 0 auto;
  }

  &__column {
    &:nth-child(2) {
      @media (max-width: 869px) {
        @include flex(flex, column, none, none);
      }
      a {
        &:not(:last-child) {
          margin-right: 15px;
          @media (max-width: 869px) {
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
        &:last-child {
          margin-right: 90px;
          @media (max-width: 869px) {
            margin-right: 0;
          }
        }

        img {
          @media (min-width: 2000px) {
            width: 50px;
            height: 50px;
          }
          @media (min-width: 2500px) {
            width: 80px;
            height: 80px;
          }
          @media (min-width: 3000px) {
            width: 110px;
            height: 110px;
          }
        }
      }
    }
    &:last-child {
      @include flex(flex, none, none, center);
      img {
        margin-left: 9px;
        @media (min-width: 2000px) {
          width: 110px;
          height: 72px;
          margin-left: 15px;
        }
        @media (min-width: 2500px) {
          width: 165px;
          height: 108px;
          margin-left: 21px;
        }
        @media (min-width: 3000px) {
          width: 220px;
          height: 144px;
          margin-left: 27px;
        }
      }
    }
  }

  &__name {
    @include font(16px, 17px, none, #848789, 700);
    padding: 0 15px;
    @media (min-width: 2000px) {
      @include font(22px, 23px, none, none, none);
    }
    @media (min-width: 2500px) {
      @include font(28px, 29px, none, none, none);
    }
    @media (min-width: 3000px) {
      @include font(34px, 35px, none, none, none);
    }
  }

  &__adress,
  &__county,
  &__craft {
    @include font(13.9px, 17px, none, #848789, none);
    font-style: italic;
    padding: 0 15px;
    @media (min-width: 2000px) {
      @include font(19.9px, 23px, none, none, none);
    }
    @media (min-width: 2500px) {
      @include font(25.9px, 29px, none, none, none);
    }
    @media (min-width: 3000px) {
      @include font(31.9px, 35px, none, none, none);
    }
  }
}
